* {
    margin: 0;
        /* text-decoration: none; */
    list-style-type: none;
}
body {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
div {
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 10px;
}
ul,
li {
    position: relative;
    left: -10px;

}
hr {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
}
.orange {
    padding: 5px;
    color: aliceblue;
    background-color: orange;
    
}
.red {
    padding: 5px;
    color: aliceblue;
    background-color: red;
}

.test2 {
    width: 50px;
    height: 50px;
    position: relative;
}
